Repository sps-trutnov-eps/projekt-4ep-prehledovnik, pull requests merged in 2025-02, with the labels that each got.

#135 Řešení Issues
  src/app/controllers/maturityController.js
  src/app/controllers/udalostiController.js
  src/app/views/maturity/scmz.ejs
  src/app/views/udalosti/index.ejs
Labels: UDÁLOSTI, MATURITY

#154 Issue 119
  src/app/views/kalendar/index.ejs
  src/app/views/kalendar/tydenni.ejs
Labels: KALENDÁŘ

#164 Události to Main
  src/app/views/udalosti/index.ejs
Labels: enhancement

#202 Issue #189
  src/app/views/kalendar/index.ejs
Labels: enhancement, KALENDÁŘ
