Repository sps-trutnov-eps/projekt-4ep-prehledovnik, pull requests merged in 2025-01, with the labels that each got.

#59 Zálohování
  src/app/controllers/maturityController.js
  src/app/views/maturity/index.ejs
  src/app/views/maturity/pcmz.ejs
  src/app/views/maturity/scmz.ejs
  src/app/views/maturity/sloh.ejs
Labels: enhancement

#73 Issues - Formatovani
  src/app/views/kalendar/index.ejs
  src/app/views/kalendar/tydenni.ejs
Labels: KALENDÁŘ

#81 Maturity into Main
  doc/Barvy/Pallete-Dark.txt
  doc/Barvy/Pallete-Light 1.txt
  doc/Barvy/Pallete-Light.txt
  src/app/controllers/maturityController.js
  src/app/controllers/osnovyController.js
  src/app/controllers/udalostiController.js
  src/app/models/databaseEngine.js
  src/app/routers/osnovyRouter.js
  src/app/routers/rozvrhyRouter.js
  src/app/views/kalendar/tydenni.ejs
  src/app/views/maturity/index.ejs
  src/app/views/maturity/pcmz.ejs
  src/app/views/maturity/scmz.ejs
  src/app/views/maturity/sloh.ejs
  src/app/views/osnovy/index.ejs
  src/app/views/partials/head.ejs
  src/app/views/partials/header.ejs
  src/app/views/rozvrhy/index.ejs
  src/www/osnovy/js/main.js
Labels: MATURITY

#117 Issue #109 a Issue #97
  src/app/controllers/kalendarController.js
  src/app/views/kalendar/tydenni.ejs
Labels: KALENDÁŘ
